API_ID=8923378 # get this value from my.telegram.org
API_HASH=4008406712b80bb7589425540e2697e9 # get this value from my.telegram.org
BOT_TOKEN=5368509577:AAG-rM0wf6Pjei2d7DQ1bJ2bMvtv2Ln6eho
MONGO_DB_URI=mongodb+srv://vro:vro@cluster0.eyy25.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001778247515 # get this value from in your log group 
MUSIC_BOT_NAME=Lotus # your music bot name 
STRING_SESSION=BAA3aotzEvZS6LbuLOAHf9D-ixQei9nXaXYukWryZKkvfJpAymCL4HyDlvpSbfT9pabRH_rs6wEwbp2w2Was2UMkugbCK5VwornaztEg1Bl0Q70qwDxU0kDtdFEIbYVONT7XVkPe0NgYlWp9if6zjKJ9Tt1vVYiRmsH_Z6I1nk7JbQfRAzoa_V48ZS6KCzHyMTH4RUuFXMS_t6l6GS_gpKeFoJYdTe2_iI-nxaG6chP1kmNnQStYPd1NSBnlYguzDIugkukNRecAG8gXXRqn3CABZqP1Fx_Ac6NLOqLfVi_gC7gmYotiacIfl1Yly88mmTDt8KbUlhhEnnFcvydWcebqAAAAATT2NTMA
IMG_BOT1=https://i.postimg.cc/25Jb4gmp/IMG-20220514-152340-189.jpg
IMG_DEV1=https://i.postimg.cc/9M223L9T/IMG-20220522-210104-973.jpg
OWNER_ID=5333206782
NAME_BOT=Lotus
