API_ID=18232440 # get this value from my.telegram.org
API_HASH=6e65ada395ebc5d243c6d2954992c932 # get this value from my.telegram.org
BOT_TOKEN=5129966514:AAFscgtHqaZCGiB6fKAqbus2uKtzS6tZjwc
MONGO_DB_URI=mongodb+srv://vro:vro@cluster0.eyy25.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001800817759 # get this value from in your log group 
MUSIC_BOT_NAME= Julia # your music bot name 
STRING_SESSION=AgCqigMhbe9PQLFudJ1FeHkOfSZFRiEBNd5cNWsBGlLttF5MXQqiAnqY5-vKA-eAykvuYqEL14Iyv5SPVqsyXGOUuhPgzzAGFl7w2DIv8wJjstK2jvuRbuCUu0Os_nK2MWcQkZQzCBjaji9pDwkJm2kPmeyibde3YT6p-R4h38ibiLMHRR9mJcV06rMZ_eNoICG0UnHF9rJQG9GNftr5S9qFgVsLez-1K-i4xriRcAtF5zH4ptDPFor7emL8VkFPFrkBc218qPeHDwIZ2QvTt5P6iNKjywtWtd8zoVwGMKhLN70dExbQYb5stx6XrQrmu9qeGw-jO8VJo0P1YWaDSkHxAAAAATLE2vUA
IMG_BOT1=https://i.postimg.cc/25Jb4gmp/IMG-20220514-152340-189.jpg
IMG_DEV1=https://i.postimg.cc/9M223L9T/IMG-20220522-210104-973.jpg
OWNER_ID=1892491797
NAME_BOT= Julia
